*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f4f7f4;

}

.glass-background{

position:fixed;
width:100%;
height:100%;

background:
radial-gradient(circle at top left,#d8f0c8,transparent),
radial-gradient(circle at bottom right,#cfe4bf,transparent);

z-index:-1;

}

.main-container{

display:flex;

width:1000px;
height:650px;

background:white;

border-radius:30px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.left-side{

flex:1;

padding:50px;

display:flex;
flex-direction:column;
justify-content:center;

}

.right-side{

flex:1;

background:#E2F0D9;

display:flex;
justify-content:center;
align-items:center;

}

.logo-area{

font-size:25px;
font-weight:bold;
color:#76933C;

margin-bottom:30px;

}

.highlight{

color:#76933C;

}

.card-cadastro{

width:400px;

}

.avatar-circle{

width:80px;
height:80px;

border-radius:50%;

background:white;

display:flex;
justify-content:center;
align-items:center;

margin:auto;

font-size:35px;

color:#76933C;

margin-bottom:25px;

}

.input-group{

display:flex;

align-items:center;

background:white;

padding:15px;

margin-bottom:15px;

border-radius:15px;

}

.input-group i{

margin-right:10px;
color:#999;

}

.input-group input{

border:none;
outline:none;

width:100%;

}

.btn-main{

width:100%;
padding:15px;

background:#76933C;

color:white;

border:none;

border-radius:15px;

font-weight:bold;

cursor:pointer;

}